<div class="box servers-list">
  <div class="box-header with-border">
    <h3 class="box-title">Servers</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <ul class="products-list product-list-in-box">
      <li class="item">
        <div class="server-info box-success">
          <a href="/servers/monit.myapp.com" class="product-title">
            monit.myapp.com
          </a>
          <span class="product-description">
            Last update: 30 seconds ago
          </span>
          <span class="product-description">
            Poll: 120 seconds
          </span>
        </div>
      </li>
      <li class="item">
        <div class="server-info box-danger">
          <a href="/servers/monit.myapp.com" class="product-title">
            monit.myapp.com
          </a>
          <span class="product-description">
            Last update: 30 seconds ago
          </span>
          <span class="product-description">
            Poll: 120 seconds
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
